@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
}

/* --------------
    Header Style
    ------------ */
header {
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 240px 102px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu li {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #424242;

}

.brand-identity {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    color: #131313;
}

.nav-menu ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

.main {
    padding: 0 240px;
}

/* ---------------------
    call to action styles
------------------------- */
.container {
    background-color: rgba(255, 144, 14, 0.1);
    padding-bottom: 50px;
}

.btn-primary {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    text-decoration: none;
}

/*----------------
       CTA styles
  ----------------*/
.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 330px;
}

.cta-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #131313;
}

.cta-details {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    padding-bottom: 32px;
}

.cta-banner img {
    padding-top: 50px;

}

/* features cta styles */
.feature-cta-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.feature-cta-image img {
    height: 200px;
    width: 200px;
}

.feature-cta {
    max-width: 100%;
    padding: 85px 0 130px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.feature-cta-title {
    padding-bottom: 24px;
}

.cta-title-1 {
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;
}

.cta-title-2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.cta-title-3 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #FF900E;
}

.feature-cta-details {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding-bottom: 32px;
}

/* ------------------
All feature styles
------------------ */
.all-feature {
    display: flex;
    align-items: center;
    gap: 54px;
    margin-bottom: 130px;
}

.all-feature-info {
    border-left: ;
}

.all-feature-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    padding-left: 21px;
    color: #131313;
    border-left: 5px solid #FF900E;
    margin-bottom: 24px;

}

.all-feature-details-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
    color: #727272;

}

.feature-details {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 30px;
}

.feature-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
}

.feature-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.feature-experience-img img {
    width: 480px;
    padding-left: 50px;
}

.feature-experience {
    width: 342px;
    padding: 45px;
    background-color: #FF900E;
    border-radius: 8px;
    position: relative;
    bottom: 150px;
}

.experiance-time {
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
}

.experiance-text {
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

/* --------------
     Other facts styles
     -------------------- */
.other-facts {
    margin-bottom: 180px;
}

.other-facts-title,
.sponsor-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 24px;

}

.other-facts-description,
.sponsor-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.other-facts-achievement {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 100px;
    margin-top: 100px;
}

.achievement {
    width: 110px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 45px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.achievement-title {
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    color: #424242;
}

.achievement-detail {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #727272;
}

/* Sponsor section styles */
.sponsor {
    margin-bottom: 130px;
}

.sponsor-title {
    text-align: center;
}

.sponsor-description {
    text-align: center;
    margin-bottom: 50px;
}

.sponsor-img {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 70px;
    align-items: center;
    filter: saturate(0);
}

/* ----------------------
    Footer style
    ------------------- */
.copyright {
    background-color: #FFF4E7;
    border-radius: 8px;
    padding: 38px 0;
    margin: 0 240px 240px 240px;
}

.copyright-text {
    text-align: center;
}



/* Responsive For Mobile devices */
@media screen and (max-width:576px) {
    header {
        max-width: 100%;
        padding: 50px 0 102px 0;
        flex-direction: column;
        align-items: center;
    }

    .main {
        padding: 0;
    }

    .nav-menu ul {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .cta-banner img {
        width: 100%;
        padding-top: 50px;

    }

    .feature-cta-image {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

    .feature-cta {
        flex-direction: column;
    }

    .feature-cta-info {
        padding-left: 10px;
    }

    .all-feature {
        flex-direction: column-reverse;
    }

    .features-name {
        padding: 10px;
    }

    .other-facts-info {
        padding: 10px;
    }

    .other-facts-achievement {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .sponsor-img {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .copyright {
        padding: 38px 38px;
        margin: 0;
    }
}